create table brand
(
    id          bigint auto_increment
        primary key,
    name        varchar(100) null,
    description varchar(250) null,
    country     varchar(100) null,
    create_at   datetime     null,
    update_at   datetime     null,
    created_by  bigint       null,
    update_by   bigint       null,
    status      tinyint(1)   null
)
    comment 'Bảng lưu các thương hiệu sản phẩm';

create table category
(
    id           bigint auto_increment
        primary key,
    name         varchar(100) null,
    seo_title    varchar(250) null,
    description  varchar(250) null,
    status       tinyint(1)   null,
    parent_id    bigint       null,
    meta_keyword varchar(100) null,
    create_by    bigint       null,
    create_at    datetime     null,
    update_by    bigint       null,
    update_at    datetime     null
)
    comment 'Bảng lưu thông tin các danh mục sản phẩm, hỗ trợ phân cấp danh mục';

create table contact
(
    id        bigint auto_increment comment 'Khóa chính, định danh liên hệ'
        primary key,
    email     varchar(150) null comment 'Địa chỉ email liên hệ',
    status    tinyint(1)   null comment 'Trạng thái liên hệ: true = hoạt động',
    address   varchar(250) null comment 'Địa chỉ liên hệ',
    phone     varchar(15)  null comment 'Số điện thoại liên hệ',
    create_at datetime     null comment 'Thời gian tạo thông tin liên hệ',
    update_at datetime     null comment 'Thời gian cập nhật liên hệ'
)
    comment 'Bảng lưu thông tin liên hệ';

create table customer
(
    id        bigint auto_increment comment 'Khóa chính, định danh khách hàng'
        primary key,
    username  varchar(250) null comment 'Tên đăng nhập của khách hàng',
    password  varchar(250) null comment 'Mật khẩu đăng nhập (hash)',
    email     varchar(150) null comment 'Địa chỉ email khách hàng',
    phone     varchar(15)  null comment 'Số điện thoại liên hệ',
    status    tinyint(1)   null comment 'Trạng thái tài khoản: true = hoạt động, false = khoá',
    name      varchar(100) null comment 'Họ tên khách hàng',
    gender    tinyint(1)   null comment 'Giới tính: true = nam, false = nữ',
    address   varchar(250) null comment 'Địa chỉ khách hàng',
    create_at datetime     null comment 'Thời gian tạo tài khoản',
    create_by bigint       null comment 'ID người tạo (nếu có)',
    update_by bigint       null comment 'ID người cập nhật gần nhất',
    update_at datetime     null comment 'Thời gian cập nhật gần nhất'
)
    comment 'Bảng lưu thông tin khách hàng';

create table inventory
(
    id         bigint auto_increment comment 'Khóa chính, định danh kho'
        primary key,
    contact_id bigint     null comment 'ID liên hệ kho',
    create_by  bigint     null comment 'ID người tạo',
    create_at  datetime   null comment 'Thời gian tạo',
    update_by  bigint     null comment 'ID người cập nhật',
    update_at  datetime   null comment 'Thời gian cập nhật',
    status     tinyint(1) null comment 'Trạng thái kho: true = hoạt động',
    constraint inventory_ibfk_1
        foreign key (contact_id) references contact (id)
)
    comment 'Bảng lưu thông tin các kho tổng/kho chi nhánh';

create index contact_id
    on inventory (contact_id);

create table notification
(
    id         bigint auto_increment comment 'Khóa chính, định danh thông báo'
        primary key,
    title      varchar(150) null comment 'Tiêu đề thông báo',
    content    text         null comment 'Nội dung chi tiết',
    created_at datetime     null comment 'Thời gian tạo',
    create_by  bigint       null comment 'ID người tạo',
    update_at  datetime     null comment 'Thời gian cập nhật',
    update_by  bigint       null comment 'ID người cập nhật'
)
    comment 'Bảng lưu thông báo cho người dùng';

create table payment_method
(
    id          bigint auto_increment comment 'Khóa chính, định danh phương thức thanh toán'
        primary key,
    name        varchar(150)  null comment 'Tên phương thức (tiền mặt, ví điện tử, ...)',
    description varchar(150)  null comment 'Mô tả chi tiết',
    vat         decimal(5, 3) null comment 'Thuế VAT áp dụng cho phương thức này',
    create_by   bigint        null comment 'ID người tạo',
    create_at   datetime      null comment 'Thời gian tạo',
    update_by   bigint        null comment 'ID người cập nhật',
    update_at   datetime      null comment 'Thời gian cập nhật'
)
    comment 'Bảng lưu các phương thức thanh toán';

create table payment
(
    id        bigint auto_increment comment 'Khóa chính, định danh phiếu thanh toán'
        primary key,
    name      varchar(150) null comment 'Tên phiếu thanh toán',
    code      varchar(150) null comment 'Mã (ví dụ mã giao dịch ngân hàng)',
    status    tinyint(1)   null comment 'Trạng thái thanh toán: true = hoàn thành, false = lỗi',
    method_id bigint       null comment 'ID phương thức thanh toán (FK payment_method)',
    time      datetime     null comment 'Thời điểm thanh toán',
    create_by bigint       null comment 'ID người tạo',
    create_at datetime     null comment 'Thời gian tạo',
    update_by bigint       null comment 'ID người cập nhật',
    update_at datetime     null comment 'Thời gian cập nhật',
    constraint payment_ibfk_1
        foreign key (method_id) references payment_method (id)
)
    comment 'Bảng lưu thông tin phiếu thanh toán';

create index method_id
    on payment (method_id);

create table role
(
    id          bigint auto_increment comment 'Khóa chính'
        primary key,
    name        varchar(250) null comment 'Tên vai trò',
    type        varchar(250) null comment 'Kiểu role (admin, staff, ...)',
    user_id     bigint       null comment 'ID người dùng (không nên gắn trực tiếp, nên dùng bảng trung gian nếu nhiều-nhiều)',
    description varchar(250) null comment 'Mô tả vai trò',
    created_at  datetime     null comment 'Thời gian tạo',
    update_at   datetime     null comment 'Thời gian cập nhật'
)
    comment 'Bảng lưu các vai trò (role) trong hệ thống';

create index user_id
    on role (user_id);

create table rule
(
    id          bigint auto_increment comment 'Khóa chính'
        primary key,
    role_id     bigint       null comment 'ID role (FK role)',
    name        varchar(100) null comment 'Tên quyền',
    description varchar(250) null comment 'Mô tả quyền',
    created_at  datetime     null comment 'Thời gian tạo',
    update_at   datetime     null comment 'Thời gian cập nhật',
    status      tinyint(1)   null comment 'Trạng thái quyền',
    constraint rule_ibfk_1
        foreign key (role_id) references role (id)
)
    comment 'Bảng lưu quyền (rule) của từng role';

create index role_id
    on rule (role_id);

create table store
(
    id         bigint auto_increment comment 'Khóa chính, định danh cửa hàng'
        primary key,
    name       varchar(100) null comment 'Tên cửa hàng',
    contact_id bigint       null comment 'ID liên hệ của cửa hàng (FK contact)',
    create_by  bigint       null comment 'ID người tạo cửa hàng',
    create_at  datetime     null comment 'Thời gian tạo cửa hàng',
    update_by  bigint       null comment 'ID người cập nhật gần nhất',
    update_at  datetime     null comment 'Thời gian cập nhật gần nhất',
    status     tinyint(1)   null comment 'Trạng thái cửa hàng: true = hoạt động',
    manager_id bigint       null comment 'ID quản lý cửa hàng (liên kết user)',
    constraint store_ibfk_1
        foreign key (contact_id) references contact (id)
)
    comment 'Bảng lưu thông tin các cửa hàng';

create table analyst
(
    id            bigint auto_increment comment 'Khóa chính, định danh bản ghi phân tích'
        primary key,
    name          varchar(150) null comment 'Tên báo cáo',
    description   varchar(250) null comment 'Mô tả ngắn báo cáo',
    image_analyst varchar(250) null comment 'Ảnh minh họa cho báo cáo',
    detail        varchar(250) null comment 'Nội dung chi tiết báo cáo',
    store_id      bigint       null comment 'ID cửa hàng liên quan (FK store)',
    date_analyst  datetime     null comment 'Ngày phân tích',
    created_at    datetime     null comment 'Thời gian tạo',
    create_by     bigint       null comment 'ID người tạo',
    update_at     datetime     null comment 'Thời gian cập nhật',
    update_by     bigint       null comment 'ID người cập nhật',
    constraint analyst_ibfk_1
        foreign key (store_id) references store (id)
)
    comment 'Bảng lưu các báo cáo phân tích cho từng cửa hàng';

create index store_id
    on analyst (store_id);

create index contact_id
    on store (contact_id);

create table store_revenue
(
    id          bigint auto_increment comment 'Khóa chính, định danh bản ghi doanh thu'
        primary key,
    store_id    bigint         null comment 'ID cửa hàng (FK store)',
    description varchar(250)   null comment 'Mô tả doanh thu',
    date        datetime       null comment 'Ngày thống kê doanh thu',
    revenue     decimal(18, 3) null comment 'Doanh thu (VNĐ)',
    create_by   bigint         null comment 'ID người tạo',
    create_at   datetime       null comment 'Thời gian tạo',
    update_by   bigint         null comment 'ID người cập nhật',
    update_at   datetime       null comment 'Thời gian cập nhật',
    constraint store_revenue_ibfk_1
        foreign key (store_id) references store (id)
)
    comment 'Bảng lưu doanh thu từng cửa hàng';

create index store_id
    on store_revenue (store_id);

create table supplier
(
    id        bigint auto_increment
        primary key,
    name      varchar(100) null,
    email     varchar(150) null,
    phone     varchar(150) null,
    address   varchar(250) null,
    create_by bigint       null,
    create_at datetime     null,
    update_by bigint       null,
    update_at datetime     null
)
    comment 'Bảng lưu thông tin các nhà cung cấp sản phẩm';

create table product
(
    id              bigint auto_increment
        primary key,
    name            varchar(100)   null,
    seo_title       varchar(250)   null,
    description     varchar(250)   null,
    status          tinyint(1)     null,
    image           varchar(250)   null,
    list_image      text           null,
    price           decimal(12, 3) null,
    promotion_price decimal(12, 3) null,
    vat             decimal(4, 3)  null,
    quantity        int            null,
    waranty         varchar(50)    null,
    hot             datetime       null,
    view_count      int            null,
    cate_id         bigint         null,
    brand_id        bigint         null,
    sup_id          bigint         null,
    meta_keyword    varchar(100)   null,
    create_by       bigint         null,
    create_at       datetime       null,
    update_by       bigint         null,
    update_at       datetime       null,
    expiry_date     varchar(50)    null,
    constraint product_ibfk_1
        foreign key (cate_id) references category (id),
    constraint product_ibfk_2
        foreign key (brand_id) references brand (id),
    constraint product_ibfk_3
        foreign key (sup_id) references supplier (id)
)
    comment 'Bảng lưu thông tin chi tiết các sản phẩm';

create index brand_id
    on product (brand_id);

create index cate_id
    on product (cate_id);

create index sup_id
    on product (sup_id);

create table stock_store
(
    id           bigint auto_increment comment 'Khóa chính, định danh bản ghi tồn kho cửa hàng'
        primary key,
    store_id     bigint     null comment 'ID cửa hàng (FK store)',
    create_by    bigint     null comment 'ID người tạo',
    create_at    datetime   null comment 'Thời gian tạo',
    update_by    bigint     null comment 'ID người cập nhật',
    update_at    datetime   null comment 'Thời gian cập nhật',
    status       tinyint(1) null comment 'Trạng thái: true = hoạt động',
    product_id   bigint     null comment 'ID sản phẩm (FK product)',
    quantity     int        null comment 'Số lượng tồn kho',
    min_quantity int        null comment 'Số lượng tối thiểu cảnh báo tồn kho',
    constraint stock_store_ibfk_1
        foreign key (store_id) references store (id),
    constraint stock_store_ibfk_2
        foreign key (product_id) references product (id)
)
    comment 'Bảng lưu tồn kho sản phẩm tại các cửa hàng';

create table import_log
(
    id             bigint auto_increment comment 'Khóa chính, định danh phiếu nhập'
        primary key,
    code_id        bigint         null comment 'Mã phiếu nhập (để join import_product)',
    from_inventory bigint         null comment 'ID kho xuất (FK inventory)',
    to_stock_store bigint         null comment 'ID cửa hàng nhập (FK stock_store)',
    start          datetime       null comment 'Thời gian bắt đầu nhập',
    end            datetime       null comment 'Thời gian hoàn tất nhập',
    total_amount   decimal(18, 3) null comment 'Tổng giá trị nhập',
    status         tinyint(1)     null comment 'Trạng thái phiếu nhập',
    create_by      bigint         null comment 'ID người tạo phiếu',
    create_at      datetime       null comment 'Thời gian tạo phiếu',
    update_by      bigint         null comment 'ID người cập nhật',
    update_at      datetime       null comment 'Thời gian cập nhật',
    constraint import_log_pk
        unique (code_id),
    constraint import_log_ibfk_1
        foreign key (from_inventory) references inventory (id),
    constraint import_log_ibfk_2
        foreign key (to_stock_store) references stock_store (id)
)
    comment 'Bảng ghi nhận các phiếu nhập hàng từ kho về cửa hàng';

create index from_inventory
    on import_log (from_inventory);

create index to_stock_store
    on import_log (to_stock_store);

create table import_product
(
    code_id    bigint         not null comment 'Mã phiếu nhập (FK import_log)',
    product_id bigint         not null comment 'ID sản phẩm',
    quantity   int            null comment 'Số lượng nhập',
    price      decimal(12, 3) null comment 'Giá nhập/đơn vị',
    note       varchar(250)   null comment 'Ghi chú',
    id         bigint         not null
        primary key,
    constraint import_product_pk
        unique (code_id, product_id),
    constraint import_product_ibfk_1
        foreign key (code_id) references import_log (code_id),
    constraint import_product_ibfk_2
        foreign key (product_id) references product (id)
)
    comment 'Chi tiết sản phẩm trong từng phiếu nhập kho';

create index product_id
    on import_product (product_id);

create index product_id
    on stock_store (product_id);

create index store_id
    on stock_store (store_id);

create table user
(
    id        bigint auto_increment comment 'Khóa chính, định danh người dùng'
        primary key,
    username  varchar(250) null comment 'Tên đăng nhập',
    password  varchar(250) null comment 'Mật khẩu (hash)',
    name      varchar(150) null comment 'Họ tên',
    email     varchar(150) null comment 'Email',
    phone     varchar(15)  null comment 'Số điện thoại',
    status    tinyint(1)   null comment 'Trạng thái tài khoản',
    create_at datetime     null comment 'Thời gian tạo',
    update_by bigint       null comment 'ID người cập nhật',
    update_at datetime     null comment 'Thời gian cập nhật',
    create_by bigint       null comment 'ID người tạo'
)
    comment 'Bảng lưu thông tin người dùng (nhân viên, quản lý, admin, ...)';

create table notification_reciption
(
    id              bigint auto_increment comment 'Khóa chính'
        primary key,
    notification_id bigint null comment 'ID thông báo (FK notification)',
    user_id         bigint null comment 'ID người nhận (FK user)',
    constraint notification_reciption_ibfk_1
        foreign key (notification_id) references notification (id),
    constraint notification_reciption_ibfk_2
        foreign key (user_id) references user (id)
)
    comment 'Bảng ánh xạ thông báo với người nhận, hỗ trợ gửi nhiều người';

create index notification_id
    on notification_reciption (notification_id);

create index user_id
    on notification_reciption (user_id);

create table schedule
(
    id          bigint auto_increment comment 'Khóa chính'
        primary key,
    user_id     bigint       null comment 'ID người dùng (FK user)',
    store_id    bigint       null comment 'ID cửa hàng (FK store)',
    store_name  varchar(250) null comment 'Tên cửa hàng (cache)',
    shift_date  datetime     null comment 'Ngày làm việc',
    shift_time  varchar(50)  null comment 'Ca làm việc (sáng/chiều/đêm)',
    start_time  datetime     null comment 'Giờ bắt đầu ca',
    end_time    datetime     null comment 'Giờ kết thúc ca',
    status      tinyint(1)   null comment 'Trạng thái lịch làm việc',
    description varchar(250) null comment 'Ghi chú ca làm',
    create_at   datetime     null comment 'Thời gian tạo',
    update_by   bigint       null comment 'ID người cập nhật',
    update_at   datetime     null comment 'Thời gian cập nhật',
    create_by   bigint       null comment 'ID người tạo',
    constraint schedule_ibfk_1
        foreign key (user_id) references user (id)
)
    comment 'Bảng lưu lịch làm việc/ca làm của nhân viên';

create index store_id
    on schedule (store_id);

create index user_id
    on schedule (user_id);

create table user_activity_log
(
    id          bigint auto_increment comment 'Khóa chính'
        primary key,
    user_id     bigint       null comment 'ID người dùng thực hiện hành động',
    description varchar(250) null comment 'Mô tả chi tiết hành động',
    ip_address  varchar(250) null comment 'Địa chỉ IP thực hiện',
    created_at  datetime     null comment 'Thời gian ghi nhận'
)
    comment 'Bảng lưu nhật ký hoạt động của người dùng';

create index user_id
    on user_activity_log (user_id);

create table user_store
(
    id       bigint auto_increment comment 'Khóa chính, định danh bản ghi'
        primary key,
    user_id  bigint null comment 'ID người dùng (FK user)',
    store_id bigint null comment 'ID cửa hàng (FK store)',
    constraint user_store_ibfk_1
        foreign key (user_id) references user (id),
    constraint user_store_ibfk_2
        foreign key (store_id) references store (id)
)
    comment 'Gán người dùng vào các cửa hàng (nhiều-mnhiều)';

create index store_id
    on user_store (store_id);

create index user_id
    on user_store (user_id);

create table vocher
(
    id           bigint auto_increment comment 'Khóa chính, định danh voucher'
        primary key,
    name         varchar(150)  null comment 'Tên voucher',
    seo_title    varchar(250)  null comment 'Tiêu đề SEO',
    description  varchar(250)  null comment 'Mô tả voucher',
    status       tinyint(1)    null comment 'Trạng thái voucher: true = hoạt động',
    start        datetime      null comment 'Thời gian bắt đầu hiệu lực',
    end          datetime      null comment 'Thời gian hết hạn',
    discount     decimal(5, 3) null comment 'Số tiền/giá trị giảm',
    discount_per varchar(10)   null comment 'Kiểu giảm giá: phần trăm hoặc số tiền',
    create_by    bigint        null comment 'ID người tạo',
    create_at    datetime      null comment 'Thời gian tạo',
    update_by    bigint        null comment 'ID người cập nhật',
    update_at    datetime      null comment 'Thời gian cập nhật'
)
    comment 'Bảng lưu thông tin các voucher (phiếu giảm giá)';

create table `order`
(
    id          bigint auto_increment comment 'Khóa chính, định danh đơn hàng'
        primary key,
    date        datetime      null comment 'Thời điểm tạo đơn hàng',
    status      tinyint(1)    null comment 'Trạng thái đơn hàng (true = thành công, false = huỷ)',
    start       datetime      null comment 'Thời điểm bắt đầu xử lý đơn',
    end         datetime      null comment 'Thời điểm hoàn tất đơn',
    customer_id bigint        null comment 'ID khách hàng (FK customer)',
    discount    decimal(5, 3) null comment 'Giá trị giảm giá trực tiếp',
    store_id    bigint        null comment 'ID cửa hàng bán đơn này (FK store)',
    vocher_id   bigint        null comment 'ID voucher áp dụng (FK vocher)',
    pay_id      bigint        null comment 'ID phiếu thanh toán (FK payment)',
    create_by   bigint        null comment 'ID người tạo đơn hàng',
    create_at   datetime      null comment 'Thời gian tạo đơn',
    update_by   bigint        null comment 'ID người cập nhật',
    update_at   datetime      null comment 'Thời gian cập nhật',
    constraint order_ibfk_1
        foreign key (customer_id) references customer (id),
    constraint order_ibfk_2
        foreign key (store_id) references store (id),
    constraint order_ibfk_3
        foreign key (vocher_id) references vocher (id),
    constraint order_ibfk_4
        foreign key (pay_id) references payment (id)
)
    comment 'Bảng lưu thông tin các đơn hàng bán ra';

create index customer_id
    on `order` (customer_id);

create index pay_id
    on `order` (pay_id);

create index store_id
    on `order` (store_id);

create index vocher_id
    on `order` (vocher_id);

create table order_detail
(
    id         bigint         not null
        primary key,
    order_id   bigint         null comment 'ID đơn hàng (FK order)',
    product_id bigint         null comment 'ID sản phẩm',
    quantity   int            null comment 'Số lượng bán',
    price      decimal(12, 3) null comment 'Giá bán từng sản phẩm tại thời điểm bán',
    constraint order_detail_pk
        unique (order_id),
    constraint order_id
        unique (product_id),
    constraint order_detail_ibfk_1
        foreign key (order_id) references `order` (id),
    constraint order_detail_ibfk_2
        foreign key (product_id) references product (id)
)
    comment 'Chi tiết sản phẩm trong từng đơn hàng';

